body{
    margin: 0px 100px 0px 100px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.logo{
    height: 50px;  
    display: inline-block;
    padding-right: 20px;
    vertical-align: middle;
}

h1{
    display: inline-block;
    color: palevioletred;
    font-size: 35px;
    vertical-align: middle;
}

.navbar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
}

.button{
    color: #da3c3c;
    text-align: center;
    padding: 5px 50px 5px 30px;
    font-size: 22px;
    vertical-align: middle;
    font-weight: 400;
    border-left: grey solid 1px;
    text-decoration: none;
}

.button:hover{
    background-color: #da3c3c;
    color: peachpuff;
}

